@import '~normalize.css';

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: #ccd5ae;
}

.container {
  padding-right: 250px;
}

.content {
  height: 100vh;
  overflow: auto;
}

.levels {
  overflow: auto;
  position: absolute;
  height: 100%;
  width: 250px;
  top: 0;
  right: 0;
  padding: 40px 30px 30px;
  background-color: burlywood;
  &__title {
    font-size: 22px;
    margin-bottom: 20px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 50px;
    span {
      margin-bottom: 10px;
      padding-left: 10px;
      font-size: 20px;
      cursor: pointer;
      svg {
        width: 15px;
        height: 15px;
        margin-right: 15px;
        fill: green;
      }
    }
  }
  &__btn {
    margin: 0 auto;
    display: block;
    width: 90%;
    height: 40px;
  }
}

.game {
  height: 150px;
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: antiquewhite;
  .winner {
    display: none;
  }
  &.win {
    align-items: center;
    .winner {
      display: block;
      font-style: 2.5rem;
    }
    .shelf {
      display: none;
    }
  }
}

.task {
  text-align: center;
  padding: 20px;
  font-size: 45px;
}

.help {
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
}

.editor {
  width: 90%;
  margin: 50px auto 0;
  display: flex;
  border-radius: 4px;
  border: 8px solid rgb(27, 21, 21);
  overflow: hidden;
  &.wrong {
    animation: wrong 0.1s 5;
  }
  &__panel {
    width: 50%;
  }
  &__header {
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
  }
  &__window {
    padding-right: 10px;
    display: flex;
    align-items: flex-start;
  }
  &__numbers {
    margin-right: 10px;
    padding: 10px;
    text-align: right;
    background: #00000054;
  }
  &__input {
    margin-top: 10px;
  }
  &__btn {
    margin-top: 10px;
  }
  &__markup {
    padding-top: 10px;
    div {
      padding-left: 20px;
      &.hovered {
        color: blue;
      }
    }
  }
}

.hint {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 15px;
  background-color: white;
  z-index: 10;
  &.active {
    display: block;
  }
}

@import './components.scss';

.game .active {
  transform-origin: bottom;
  animation: waver 1s infinite;
  animation-delay: 0s, 0s;
  animation-delay: 0s, 0.5s;
}

@keyframes waver {
  0% {
    transform: skew(1deg, 0deg) scaleX(1);
  }
  10% {
    transform: skew(1deg, 0deg) scaleY(0.9);
  }
  50% {
    transform: skew(-1deg, 0deg) scaleX(1);
  }
  60% {
    transform: skew(-1deg, 0deg) scaleY(0.9);
  }
  100% {
    transform: skew(1deg, 0deg) scaleX(1);
  }
}

@keyframes wrong {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
}
